
#map{
    height: 450px;
    width: 850px;
    margin: auto;
  }
  .MapDistance {
  display: flex;
  justify-content: space-evenly;
  width: 850px;
  min-height: 40px;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  background-color: rgb(142, 142, 142);
  margin: 0 auto;
  overflow: hidden;
  }
  #button{
  background-color: transparent;
  border: transparent;
  cursor: pointer;
  }
  .tooltip {
    position: relative;
    display: inline-block;
    cursor: default;
    color: #fff;
  }
  
  .tooltip::after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    padding: 4px 8px;
    background-color: rgba(0, 0, 0, 0.75);
    color: #fff;
    border-radius: 4px;
    font-size: 12px;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s, visibility 0.2s;
  }
  
  .tooltip:hover::after {
    opacity: 1;
    visibility: visible;
    top: 20px;
  }
  .selected {
    background-color: #d1d1d1;
    width: 70px;
    color: #333;
    border-radius: 999px;
    padding: 5px 5px;
    margin: 5px;
  }
  .li{
    list-style-type: none;
    border: 1px solid #333;
  }