body {
    background-color: #f0f0f0;
}

.content-wrapper {
    padding-bottom: 100px;
}

.playlist-card {
    background-color: rgba(255, 255, 255, 0.95);
    border: 3px solid #000000 !important;
    border-radius: 25px !important;
}

.playlist-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.back-button,
.like-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
}

.playlist-title {
    margin-bottom: 20px;
    width: 100%;
}

.title-weight {
    font-weight: bold;
}

.song-list-title {
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 10px;
}

.playlist-table {
    border-collapse: separate;
    border-spacing: 1em;
    width: 100%;
    padding-left: 220px;
    text-align: left;
}

.player-container {
    width: 100%;
    padding-top: 0;
}

.bottom-player {
    background-color: #fff;
    justify-content: center;
    align-items: center;
    border: 3px solid #000;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.previous-video,
.next-video {
    background-color: #fff;
    color: #1fd05f;
    font-weight: bold;
    border-radius: 30px;
    padding: 0 28px;
}

.play-btn {
    background-color: #fff;
    color: #000;
    font-weight: bold;
    border-radius: 50%;
    padding: 12px;
    width: 50px;
    height: 50px;
}

.current-song-container {
    margin-top: 10px;
}

.controls-container {
    display: flex;
    justify-content: center;
    text-align: right;
}

.progress-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

#progress-bar {
    width: 200px;
}

.duration {
    display: inline-flex;
    margin-left: 15px;
}

.tooltip-container {
    position: relative;
}

.tooltip {
    position: absolute;
    z-index: 999;
    background-color: #000;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    top: 0;
    left: 100%;
    width: 300px;
    max-height: 300px;
    overflow-y: auto;
    text-align: left;
}

.tooltip span {
    cursor: pointer;
}

.tooltip span:last-child {
    margin-left: 10px;
}

.close-icon {
    cursor: pointer;
    float: right;
}

.buttons {
    text-align: center;
}

.left-align {
    text-align: left;
}

.right-align {
    text-align: right;
    padding-right: 220px;
}

.volume-icon {
    align-items: right;
}